:root{
    --primary-color: #436850;
    --secondary-color: #ADBC9F;
    --darkgreen: #051f20;
    --btn-shadow: #718794;
    --def-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    background-color: var(--primary-color);
    font-family: var(--def-font);
    color: var(--secondary-color);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
}

.title{
    margin-top: 18px;
    text-align: center;
    color: var(--darkgreen);
}

.node-selection{
    display: flex;
    justify-content: space-around;
    /* height: 80vh; */
    align-items: center;
}

.node-selection > * {
    text-align: center;
    min-width: 225px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.418);
    background-blend-mode: soft-light;
}

.db-icon{
    cursor: pointer;
}

.db-icon:hover > path{
    fill: rgb(245, 201, 82);
    transition: 0.3s;
}

.node-selection > section > h1 {
    color: var(--blue);
}

form {
    display: none;
}

p{
    font-weight: 500;
}

.node-on {
    display: flex;
    justify-content: space-around;
}

.node-button {
    min-height: 80px;
    width: 130px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-circle {
    min-width: 75px;
    max-width: 75px;
    min-height: 75px;
    border-radius: 75px;
    background-color: white;
    position: relative;
    top: -77.5px;
    /* left: -25px; */
}

.btn {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-width: 130px;
    border-radius: 50px;
    margin: 25px 25px;
    max-height: 80px;
}

.btn * {
    cursor: pointer;
}

.o{
    position: relative;
    left: 7px;
}

.off-state .btn-circle{
    left: -25px;
}

.on-state{
    background-color: rgb(45, 141, 45);
}

.on-state:hover .btn-circle{
    transition: 0.3s all;
    left: -25px;
}

.on-state:hover {
    background-color: var(--btn-shadow);
}

.off-state{
    background-color: var(--btn-shadow);
}

.off-state:hover .btn-circle{
    transition: 0.3s all;
    left: 25px;
}

.off-state:hover {
    background-color: rgb(45, 141, 45);
}

.on-state .btn-circle{
    left: 25px;
}

.return{
    position: fixed;
    top: 10px;
    left: 10px;
}

.return svg:hover{
    transition: 0.3s all;
    fill: var(--orange);
}

/* ERROR */
.error{
    color: black;
    font-size: 1rem;
    text-align: center;
    padding: 20px 20px 20px 5px;
    position: fixed;
    top: 50px;
    /* left: calc(100% + 300px); */
    background-color: var(--secondary-color);
    width: 280px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error *{
    margin: 0 10px;
}

.error-show {
    animation: slideIn 3s forwards;
}

@keyframes slideIn {
    0% {
        left: calc(100% + 290px);
    }
    10% {
        left: calc(100% - 290px);
    }
    90% {
        left: calc(100% - 290px);
    }
    100% {
        left: calc(100% + 290px);
    }
}