:root{
    --primary-color: #436850;
    --secondary-color: #ADBC9F;
    --light: #FBFADA   ;
    --def-font: 'Franklin Gothic Medium';
    --darkgreen: #051f20;
    --btn-shadow: #718794;
    --blue: ##051f20;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    margin-bottom: 18px;
}

body {
    padding: 10px;
    background-color: var(--primary-color);
    font-family: var(--def-font);
    color: var(--secondary-color);
}

.nodeHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nodeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 300px;
}
.nodeContainer button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #273e2e; 
    color: white;
    border: none;
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}

#nodeSelected {
    font-weight: bold;
    color: #b40606; 
    transition: color 0.3s;
}

#nodeSelected:hover {
    color: #b40606; 
}

.nodeContainer button:hover {
    background-color: #051f20; 
    transform: scale(1.05); 
}

.nodeContainer button:focus {
    outline: none; 
    box-shadow: 0 0 5px #051f20; 
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
    height: calc(80vh - 100px);
    grid-gap: 10px;
    margin: 10px;
}

.container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle{
    text-align: center;
    font-size: 1.2rem;
}

.title{
    margin-top: 20px;
    text-align: center;
    color: var(--light);
}

.create g:hover, .search g:hover, .update svg:hover{
    transition: 0.3s all;
    stroke: var(--darkgreen);
}

.delete path:hover{
    transition: 0.3s all;
    fill: var(--darkgreen);
}

.config svg:hover {
    transition: 0.3s all;
    fill: var(--darkgreen);
}

